<div class="d-flex">
  <button mat-button (click)="location.back()" class="mb-2">
    <mat-icon>arrow_back</mat-icon>Back
  </button>
</div>
<div class="user-details-container">
  <!-- No Account Found -->
  <mat-card *ngIf="!user">
    <mat-card-header>
      <mat-card-title>No Account Found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>No account details are available. Please add a new account.</p>
    </mat-card-content>
  </mat-card>

  <!-- User Account Details -->
  <mat-card *ngIf="user">
    <mat-card-header>
      <mat-card-title class="txt-clrb7">Welcome {{ user.name | uppercase }}</mat-card-title>
      <mat-card-avatar>
        <div *ngIf="user?.filepath" class="profile"  >
          <img [src]="imageUrl + user?.filepath"
              alt="Profile Image Preview" class="rounded-profile-image" />
        </div>
      </mat-card-avatar>
    </mat-card-header>

    <mat-card-content>
      <table class="account-details-table">
        <tbody>
          <tr>
            <td>Name</td>
            <td class="text-capitalize">{{ user.name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ user.mobile }}</td>
          </tr>
          <tr>
            <td>Verified</td>
            <td>{{ user.emailVerified ? 'Yes' : 'No' }}</td>
          </tr>
          <tr>
            <td>Referral Code</td>
            <td>{{ user.referralCode }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td class="text-capitalize">{{ user.status }}</td>
          </tr>
          <tr>
            <td>Gov ID</td>
            <td>
              <a class="text-primary" *ngIf="user.docpath" [href]="imageUrl+user.docpath" target="_blank">
                View Uploaded Gov ID
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
