<div class="user-details-container">
    <h2>{{ user.name | uppercase }} DETAILS</h2>
  
    <div *ngIf="user" class="user-info">
      <div class="user-field">
        <p><strong>User ID:</strong></p>
        <p>{{ user.userId }}</p>
      </div>
      <div class="user-field">
        <p><strong>Name:</strong></p>
        <p>{{ user.name }}</p>
      </div>
      <div class="user-field">
        <p><strong>Email:</strong></p>
        <p>{{ user.email }}</p>
      </div>
      <div class="user-field">
        <p><strong>Mobile:</strong></p>
        <p>{{ user.mobile }}</p>
      </div>
      <div class="user-field">
        <p><strong>Email Verified:</strong></p>
        <p>{{ user.emailVerified ? 'Yes' : 'No' }}</p>
      </div>
      <div class="user-field">
        <p><strong>Referral Code:</strong></p>
        <p>{{ user.referralCode }}</p>
      </div>
      <div class="user-field">
        <p><strong>Created At:</strong></p>
        <p>{{ user.createdAt | date: 'short' }}</p>
      </div>
      <div class="user-field">
        <p><strong>Status:</strong></p>
        <p>{{ user.status }}</p>
      </div>
  
      <!-- Status Update -->
      <button mat-raised-button color="primary" class="status-button" (click)="updateStatus(user.userId)">Approved</button>
    </div>
  </div>
  