<button mat-button (click)="location.back()" class="mb-2"><mat-icon>arrow_back</mat-icon>Back</button>
<div class="user-details-container">
  <mat-card *ngIf="!user ">
    <mat-card-header>
      <mat-card-title>No Account Found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>No account details are available. Please add a new account.</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addNewAccount()">Add Account</button>
    </mat-card-actions> -->
  </mat-card>
  <mat-card *ngIf="user">
    <mat-card-header>
      <mat-card-title class="txt-clrb7">Welcome {{ user.name | uppercase }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table class="account-details-table">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ user.name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ user.mobile }}</td>
          </tr>
          <tr>
            <td>Verified</td>
            <td>{{ user.emailVerified ? 'Yes' : 'No' }}</td>
          </tr>
          <tr>
            <td>Referral Code</td>
            <td>{{ user.referralCode }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{ user.status | uppercase }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>



    <mat-card-actions *ngIf="user.status !=='live' || user.status !== 'admin'">
      <button mat-raised-button color="primary" (click)="updateStatus(user.userId)">Live</button>
    </mat-card-actions>
  </mat-card>
</div>