<div class="main-content">
    <div class="container-fluid" *ngIf="cookies.isAdmin()">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Users</p>
                        <h3 class="card-title">{{userInfo.length}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info</i>
                            Total users register
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Send Money</p>
                        <h3 class="card-title">{{sendInfo.length}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Pending request
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Buy Coin</p>
                        <h3 class="card-title">{{widthInfo.length}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Pending request
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Active Users</p>
                        <h3 class="card-title">{{userActive.length}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Active users
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Update coin</h4>
                        <app-coin></app-coin>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="!cookies.isAdmin()">
        <div class="video-container">
            <h1 class="top-text">Welcome to the <b class="">Gorkha Coin</b> to change the <b>Nation</b></h1>
            <p class="text-justify">
                The International Institute of Infinitism, based in Canada with
                branches worldwide, is a global network of scientists, engineers,
                chartered accountants, lawyers, doctors, entrepreneurs, and social
                advocates. Our mission is to bring happiness to people facing
                challenges across the globe. We are committed to transforming
                systems dominated by opportunistic and corrupt leadership in
                many countries
            </p>
            <div class="video-wrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ioKLHTfb8eU" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>

            <p class="mb-3 text-justify">
                We believe that by educating and empowering people with
                positive mindsets and training capable, visionary leaders, we
                can create societies where everyone thrives. When intelligence
                and resources combine, anything is possible.</p>
            <p class="mb-3 text-justify"> Our goal is for all
                people to be happy, wealthy, healthy, and wise.
                Our programs include motivational workshops, mind power
                training, and transformative sessions designed to foster
                success, happiness, and prosperity. Together, we aim to turn
                the world into a better place through a Glorious Revolution of
                thought and action.</p>
            <p class="mb-3 text-justify">
                By uniting farsighted thinkers, innovators, and intellectuals,
                we envision a future where underdeveloped countries rise to
                prosperity, and leadership becomes a force for true progress,
                not just power. This program will change the world.
            </p>
        </div>

    </div>
</div>