.manage-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.add-account-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  width: 100%;
}

.account-card {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    max-width: 600px;
  }
}

mat-card {
  width: 100%;
}

mat-card-actions {
  justify-content: end !important;
}

::ng-deep .mdc-button {
  &:first-child{
    margin-right: 8px;
  }
}

mat-form-field {
  width: 100% !important;
}