<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- User ID Column (Visible on larger screens) -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef class="hide-on-mobile"> User ID </th>
      <td mat-cell *matCellDef="let payment" class="hide-on-mobile"> {{ payment.userId }} </td>
    </ng-container>

    <!-- Total Amount Column (Always visible) -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef> Total Amount </th>
      <td mat-cell *matCellDef="let payment"> {{ payment.totalAmount }} </td>
    </ng-container>

    <!-- Payment Method Column (Visible on larger screens) -->
    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef class="hide-on-mobile"> Payment Method </th>
      <td mat-cell *matCellDef="let payment" class="hide-on-mobile"> {{ payment.paymentMethod }} </td>
    </ng-container>

    <!-- Transaction ID Column (Visible on larger screens) -->
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef class="hide-on-mobile"> Transaction ID </th>
      <td mat-cell *matCellDef="let payment" class="hide-on-mobile"> {{ payment.transactionId }} </td>
    </ng-container>

    <!-- Status Column (Always visible) -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let payment">
        <span [ngClass]="getStatusClass(payment.status)" class="text-cap">
          <span class="status-indicator"></span>
          {{ payment.status }}
        </span>
      </td>
    </ng-container>

    <!-- Created At Column (Visible on larger screens) -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef class="hide-on-mobile"> Created At </th>
      <td mat-cell *matCellDef="let payment" class="hide-on-mobile"> {{ payment.createdAt | date: 'short' }} </td>
    </ng-container>

    <!-- Payment ID Column (Always visible) -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let user">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
          (click)="goToUserDetails(user.userId)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>