<div class="tab-pane" id="resetPassword">
    <mat-card class="p-4">
        <h3 class="txt-clrb7 mb-3">Forgot Password</h3>

        <!-- Step 1: Request Password Reset -->
        <form *ngIf="step === 1" [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPasswordLink()">
            <div class="d-flex reset-pass">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Enter your email" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Send OTP</button>
            </div>
        </form>

        <!-- Step 2: Enter OTP -->
        <form *ngIf="step === 2" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
            <div class="d-flex reset-pass">
                <mat-form-field appearance="fill">
                    <mat-label>Enter OTP</mat-label>
                    <input matInput formControlName="otp" type="text" placeholder="Enter the OTP" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Verify OTP</button>
            </div>
        </form>

        <!-- Step 3: Change Password -->
        <form *ngIf="step === 3" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <div class="d-flex reset-pass">
                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" type="password" placeholder="Enter new password" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm new password" />
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">Change Password</button>
            </div>
        </form>
    </mat-card>
</div>
