#resetPassword {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/156234-abstract-navy-blue-background.jpg);
}
.reset-pass {
    min-width: 400px;
  flex-direction: column;
}
