<div class="tab-pane" id="resetPassword">
    <mat-card class="p-4">
         <h3 class="txt-clrb7 mb-3">Forgot Password</h3>
         <form *ngIf="isChangePassword" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <div class="d-flex reset-pass">
                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" type="password" placeholder="Enter new password" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password"
                        placeholder="Confirm new password" />
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">Change Password</button>
            </div>
        </form>
        <form *ngIf="!isChangePassword" [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPasswordLink()">
            <div class="d-flex reset-pass">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Enter your enail" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Change Password</button>
            </div>
        </form>
    </mat-card>
</div>