.button-container {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.half-width-button {
  width: 100%;
  @media (min-width: 768px) {
    width: 48%; /* Adjust to fit two buttons in a row with some margin */
    margin: 5px 0; /* Optional margin for spacing */
  }
}

.button-card {
  padding: 20px;
  margin: auto;
}
