<div class="submit-page-container">
  <!-- Loader to display while an API call is in progress -->
  <div *ngIf="loading" class="loader-container">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Step 1: Account Details -->
  <mat-card *ngIf="!loading && currentStep === 1 && accountDetails && !userDetails?.status" class="acc-card">
    <div class="container">
      <h1 class="txt-clrb7 text-center pt-4">Coin and Money Conversion<br />
        <small class="text-black text-center">1 Coin = {{coin?.coinRate || 2}} {{coin?.coinType || 'USD' |
          uppercase}}</small>
      </h1>

      <div class="row">
        <div class="col-md-6 mt-3">
          <h3 class="txt-clrb7">Convert Coins to Money</h3>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Enter in Coins</mat-label>
            <input matInput type="number" [(ngModel)]="amountInCoins" (ngModelChange)="convertCoinToMoney()" />
          </mat-form-field>
          <p>Converted Amount in Money: {{ convertedToMoney | number:'1.2-2' }}</p>
        </div>

        <div class="col-md-6 mt-3">
          <h3 class="txt-clrb7">Convert Money to Coins</h3>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Enter Money</mat-label>
            <input matInput type="number" [(ngModel)]="amountInMoney" (ngModelChange)="convertMoneyToCoin()" />
          </mat-form-field>
          <p>Converted Amount in Coins: {{ convertedToCoins | number:'1.2-2' }}</p>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-12">
          <p>
            <b>Note:-</b> To open your account, you need to buy a minimum of <strong>300 coins</strong>. Alternatively,
            you can receive a transfer of coins from someone else.
          </p>
          <h3 class="pt-3 txt-clrb7 pb-2">Select Payment Method</h3>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Select Payment Method</mat-label>
            <mat-select [(value)]="selectedMethod">
              <mat-option value="bank">Bank</mat-option>
              <mat-option value="qr">QR</mat-option>
              <mat-option value="card">Card</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-4">
        <ng-container *ngIf="selectedMethod === 'bank'">
          <div class="col-12 d-flex justify-content-center">
            <div class="card">
              <h3>Bank Payment</h3>
              <p>You have chosen to go back. Please confirm your action.</p>
              <div class="container">
                <div class="row mt-3">
                  <div class="col-12">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Select Bank</mat-label>
                      <mat-select [(value)]="selectedBank">
                        <mat-option *ngFor="let account of accountDetails" [value]="account.bankName">
                          {{ account.bankName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mt-4" *ngIf="selectedBank">
                  <div class="col-12">
                    <mat-card-content *ngIf="getSelectedBankDetails() as selectedAccount">
                      <table class="account-details-table">
                        <tbody>
                          <tr>
                            <td>Bank Name</td>
                            <td>{{ selectedAccount.bankName }}</td>
                          </tr>
                          <tr>
                            <td>Account Number</td>
                            <td>{{ selectedAccount.accountNumber }}</td>
                          </tr>
                          <tr>
                            <td>IFSC Code</td>
                            <td>{{ selectedAccount.ifscCode }}</td>
                          </tr>
                          <tr>
                            <td>Branch Name</td>
                            <td>{{ selectedAccount.branchName }}</td>
                          </tr>
                          <tr>
                            <td>Account Holder Name</td>
                            <td>{{ selectedAccount.accountHolderName }}</td>
                          </tr>
                          <tr>
                            <td>Account Type</td>
                            <td>{{ selectedAccount.accountType }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-card-content>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedMethod === 'qr'">
          <div class="col-12 d-flex justify-content-center">
            <div class="card">
              <h3>QR Code Payment</h3>
              <p>Scan the QR code to make a payment.</p>
              <img width="300" src="../../../assets/images/qr_code.jpg" alt="QR Code" />
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedMethod === 'card'">
          <div class="col-12  d-flex justify-content-center">
            <div class="card">
              <h3>Card Payment</h3>
              <p>Details for card payment.</p>
              <app-paypal-button></app-paypal-button>
            </div>
          </div>
        </ng-container>

        <div class="px-3 pb-5 d-flex justify-content-center w-100">
          <button mat-button color="primary" (click)="skip()" class="mr-2">Skip</button>
          <button mat-raised-button color="primary" (click)="goToNextStep(2)">Next</button>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- Step 2: Upload Receipt -->
  <div *ngIf="!loading && currentStep === 2 && paymentSubmitted && userDetails?.status !== 'receipt'"
    class="file-upload-section d-flex">
    <div class="upload-container">
      <mat-card class="p-4">
        <h2 class="txt-clrb7">Upload an Image</h2>
        <input type="file" (change)="onFileSelected($event)" />
        <button mat-raised-button color="primary" (click)="upload()" [disabled]="!selectedFile">Upload</button>

        <div *ngIf="imageUrl" class="image-preview">
          <h3>Uploaded Image:</h3>
          <img [src]="imageUrl" alt="Uploaded Image" />
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Success Message -->
  <div *ngIf="!loading && currentStep === 3 && receiptUploaded || userDetails?.status === 'new'"
    class="file-upload-section d-flex">
    <mat-card class="p-4">
      <h3>Payment Details uploaded Successfully! 😊</h3>
      <p>Your receipt has been uploaded for verification. Thank you!</p>
      <button mat-raised-button color="accent" (click)="login()">Go to Login</button>
    </mat-card>
  </div>
</div>