<div class="submit-page-container">
  <!-- Loader to display while an API call is in progress -->
  <div *ngIf="loading" class="loader-container">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Step 1: Account Details -->
  <mat-card *ngIf="!loading && currentStep === 1 && accountDetails && !showPaymentForm && !userDetails?.status"
    class="acc-card">
    <mat-card-header>
      <mat-card-title class="txt-clrb7">Account Details</mat-card-title>
    </mat-card-header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3" *ngFor="let account of accountDetails">
          <mat-card-content>
            <table class="account-details-table">
              <tbody>
                <tr>
                  <td>Bank Name</td>
                  <td>{{ account.bankName }}</td>
                </tr>
                <tr>
                  <td>Account Number</td>
                  <td>{{ account.accountNumber }}</td>
                </tr>
                <tr>
                  <td>IFSC Code</td>
                  <td>{{ account.ifscCode }}</td>
                </tr>
                <tr>
                  <td>Branch Name</td>
                  <td>{{ account.branchName }}</td>
                </tr>
                <tr>
                  <td>Account Holder Name</td>
                  <td>{{ account.accountHolderName }}</td>
                </tr>
                <tr>
                  <td>Account Type</td>
                  <td>{{ account.accountType }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </div>
        <div class="px-3 pb-5">
          <p>If you have completed the payment, click on "Next" to submit your payment details.</p>
          <button mat-raised-button color="primary" (click)="goToNextStep()">
            Next
          </button>
        </div>
      </div>
    </div>

  </mat-card>

  <!-- Step 2: Payment Form -->
  <mat-card *ngIf="!loading && currentStep === 2 && showPaymentForm && !userDetails?.status" class="account-card payment-details">
    <h2 class="title text-center txt-clrb7">Payment Details</h2>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
      <div class="form-grid">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="totalAmount" type="number">
          <mat-error *ngIf="paymentForm.get('totalAmount')?.invalid && paymentForm.get('totalAmount')?.touched">
            Amount is required and must be greater than 0.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Payment Method</mat-label>
          <input matInput formControlName="paymentMethod" type="text">
          <mat-error *ngIf="paymentForm.get('paymentMethod')?.invalid && paymentForm.get('paymentMethod')?.touched">
            Payment Method is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Transaction ID</mat-label>
          <input matInput formControlName="transactionId" type="text">
          <mat-error *ngIf="paymentForm.get('transactionId')?.invalid && paymentForm.get('transactionId')?.touched">
            Transaction ID is required.
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="paymentForm.invalid">Submit</button>
    </form>
  </mat-card>

  <!-- Step 3: Upload Receipt -->
  <div *ngIf="!loading && currentStep === 3 && paymentSubmitted && userDetails?.status !== 'receipt'"
    class="file-upload-section">
    <div class="upload-container">
      <h2>Upload an Image</h2>
      <input type="file" (change)="onFileSelected($event)" />
      <button mat-raised-button color="primary" (click)="upload()" [disabled]="!selectedFile">Upload</button>

      <div *ngIf="imageUrl" class="image-preview">
        <h3>Uploaded Image:</h3>
        <img [src]="imageUrl" alt="Uploaded Image" />
      </div>
    </div>
  </div>

  <!-- Success Message -->
  <div *ngIf="!loading && currentStep === 4 && receiptUploaded || userDetails?.status === 'new'"
    class="file-upload-section">
    <h3>Payment Details uploaded Successfully! 😊</h3>
    <p>Your receipt has been uploaded for verification. Thank you!</p>
    <button mat-raised-button color="accent" (click)="login()">
      Go to Login
    </button>
  </div>
</div>