<div class="submit-page-container">
  <!-- If accountDetails are present, display the account data in a card -->
  <mat-card *ngIf="accountDetails && !showPaymentForm && !userDetails?.status" class="account-card">
    <mat-card-header>
      <mat-card-title class="txt-clrb7">Account Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table class="account-details-table">
        <tbody>
          <tr>
            <td>Bank Name</td>
            <td>{{ accountDetails.bankName }}</td>
          </tr>
          <tr>
            <td>Account Number</td>
            <td>{{ accountDetails.accountNumber }}</td>
          </tr>
          <tr>
            <td>IFSC Code</td>
            <td>{{ accountDetails.ifscCode }}</td>
          </tr>
          <tr>
            <td>Branch Name</td>
            <td>{{ accountDetails.branchName }}</td>
          </tr>
          <tr>
            <td>Account Holder Name</td>
            <td>{{ accountDetails.accountHolderName }}</td>
          </tr>
          <tr>
            <td>Account Type</td>
            <td>{{ accountDetails.accountType }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <p>If you have completed the payment, click on "Next" to submit your payment details.</p>
    <button mat-raised-button color="primary" (click)="showPaymentForm = true; hideAccountDetails()">
      Next
    </button>
  </mat-card>


  <mat-card *ngIf="showPaymentForm && !userDetails?.status" class="account-card">
    <h2 class="title text-center txt-clrb7">Payment Details</h2>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
      <div class="form-grid">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="totalAmount" type="number">
          <mat-error *ngIf="paymentForm.get('totalAmount')?.invalid && paymentForm.get('totalAmount')?.touched">
            Amount is required and must be greater than 0.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Payment Method</mat-label>
          <input matInput formControlName="paymentMethod" type="text">
          <mat-error *ngIf="paymentForm.get('paymentMethod')?.invalid && paymentForm.get('paymentMethod')?.touched">
            Payment Method is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Transaction ID</mat-label>
          <input matInput formControlName="transactionId" type="text">
          <mat-error *ngIf="paymentForm.get('transactionId')?.invalid && paymentForm.get('transactionId')?.touched">
            Transaction ID is required.
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="paymentForm.invalid">Submit</button>
    </form>
  </mat-card>

  <div *ngIf="(paymentSubmitted || userDetails?.status === 'new') &&   userDetails?.status !== 'receipt'" class="file-upload-section">
    <!-- <h3>Upload Receipt</h3>
    <p class="mb-2">Please upload the receipt to verify the payment.</p> -->

    <!-- <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">

    <button mat-raised-button color="primary" (click)="uploadReceipt()" [disabled]="!selectedFile">
      Upload Receipt
    </button> -->
    <div class="upload-container">
      <h2>Upload an Image</h2>

      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="upload()">Upload</button>

      <div *ngIf="imageUrl" class="image-preview">
          <h3>Uploaded Image:</h3>
          <img [src]="imageUrl" alt="Uploaded Image" />
      </div>
  </div>
  </div>
  <div *ngIf="receiptUploaded || userDetails?.status === 'receipt'" class="file-upload-section">
    <h3>Payment Details uploded Successfully! 😊</h3>
    <p>Your receipt has been uploaded for verification. Thank you!</p>
    <div class="d-flex justify-content-center"></div>
    <button mat-raised-button color="accent" (click)="login()">
      Go to Login
    </button>
  </div>
</div>