<mat-card class="button-card mb-3">
    <mat-card-content>
        <div class="url-copy-section">
            <span class="referral-header">Referral Link</span>
            <div class="input-section">
                <input matInput readonly id="referral-url" [value]="referralLink" class="full-width" />
                <button mat-raised-button color="primary" class="copy-button" (click)="copyReferralLink()">Copy</button>
            </div>
            <div *ngIf="copySuccess" class="copy-success-message">Copied!</div>
        </div>
    </mat-card-content>
    <mat-card-content class="mt-3">
        <div class="button-container">
            <button mat-raised-button color="accent" (click)="openShareDialog()"
                class="half-width-button">Email/WhatsApp/Viber</button>
        </div>
    </mat-card-content>
</mat-card>



<!-- Modal Template for Share Options -->
<ng-template #shareDialog>
    <h2 mat-dialog-title>Share Referral Link</h2>
    <mat-dialog-content>
        <a href="mailto:?subject=Referral&body={{referralLink}}">Email</a><br />
        <a href="https://api.whatsapp.com/send?text={{referralLink}}" target="_blank">WhatsApp</a><br />
        <a href="viber://forward?text={{referralLink}}" target="_blank">Viber</a>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</ng-template>