<mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table d-none d-md-block">
  <!-- User ID Column -->
  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.userId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.userName }} </mat-cell>
  </ng-container>

  <!-- Bank Name Column -->
  <ng-container matColumnDef="bankName">
    <mat-header-cell *matHeaderCellDef> Bank Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.bankName }} </mat-cell>
  </ng-container>


  <!-- Account Number Column -->
  <ng-container matColumnDef="accountNumber">
    <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.accountNumber }} </mat-cell>
  </ng-container>

  <!-- IFSC Code Column -->
  <ng-container matColumnDef="ifscCode">
    <mat-header-cell *matHeaderCellDef> IFSC Code </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.ifscCode }} </mat-cell>
  </ng-container>

  <!-- Branch Name Column -->
  <ng-container matColumnDef="branchName">
    <mat-header-cell *matHeaderCellDef> Branch Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.branchName }} </mat-cell>
  </ng-container>

  <!-- Account Type Column -->
  <ng-container matColumnDef="accountType">
    <mat-header-cell *matHeaderCellDef> Account Type </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.accountType }} </mat-cell>
  </ng-container>

  <!-- Account Holder Name Column -->
  <ng-container matColumnDef="accountHolderName">
    <mat-header-cell *matHeaderCellDef> Account Holder Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{ account.accountHolderName }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div *ngFor="let user of paginatedData" class="user-card d-md-none mt-3">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <div class="d-flex justify-content-between w-100 mobile-header">
        <div class="d-flex align-items-center">
          <mat-card-title>{{ user.userName }}</mat-card-title>
          <mat-card-subtitle class="ml-2">
            <span>C1000{{ user.userId }}</span>
          </mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Bank Name:</strong> {{ user.bankName }}</p>
      <p><strong>Account Number:</strong> {{ user.accountNumber }}</p>
      <p><strong>Branch Name:</strong> {{ user.branchName }}</p>
      <p><strong>IFSC Code:</strong> {{ user.ifscCode }}</p>
      <p><strong>Account Holder Name:</strong> {{ user.accountHolderName }}</p>
      <!-- <p><strong>Status:</strong>
            {{ user.status }}
          </p> -->
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[100, 200, 500]" showFirstLastButtons
  (page)="onPageChange($event)"></mat-paginator>