<mat-tab-group>
    <!-- <mat-tab label="Add Coin Internal">
        <div>
            <div class="mb-3">
                <mat-form-field class="full-width">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput placeholder="Enter Transaction ID" />
                </mat-form-field>
            </div>
            <div class="submit-button-container">
                <button mat-raised-button color="primary" class="full-width-button">Submit</button>
            </div>


        </div>
    </mat-tab> -->

    <mat-tab label="Buy Coin">
        <mat-card class="account-card">
            <mat-card-header>
                <mat-card-title class="txt-clrb7 mb-3">Admin Bank Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <table class="account-details-table">
                    <tbody>
                        <tr>
                            <td>Bank Name</td>
                            <td>{{ accountDetails.bankName }}</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>{{ accountDetails.accountNumber }}</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>{{ accountDetails.ifscCode }}</td>
                        </tr>
                        <tr>
                            <td>Branch Name</td>
                            <td>{{ accountDetails.branchName }}</td>
                        </tr>
                        <tr>
                            <td>Account Holder Name</td>
                            <td>{{ accountDetails.accountHolderName }}</td>
                        </tr>
                        <tr>
                            <td>Account Type</td>
                            <td>{{ accountDetails.accountType }}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <div class="d-flex justify-content-end my-3 mr-3">
                <button mat-raised-button color="primary" (click)="openShareDialog()">
                    Submit Payment Details
                </button>
            </div>
        </mat-card>

    </mat-tab>
</mat-tab-group>

<ng-template #shareDialog>
    <h2 mat-dialog-title class="txt-clrb7">Share Transaction Details</h2>
    <button mat-icon-button mat-dialog-close class="close-button">
        <mat-icon>close</mat-icon>
    </button>

    <mat-card class="account-card">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
            <div class="form-grid">
                <mat-form-field appearance="fill">
                    <mat-label>Amount</mat-label>
                    <input matInput formControlName="totalAmount" type="number">
                    <mat-error
                        *ngIf="paymentForm.get('totalAmount')?.invalid && paymentForm.get('totalAmount')?.touched">
                        Amount is required and must be greater than 0.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Payment Method</mat-label>
                    <input matInput formControlName="paymentMethod" type="text">
                    <mat-error
                        *ngIf="paymentForm.get('paymentMethod')?.invalid && paymentForm.get('paymentMethod')?.touched">
                        Payment Method is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput formControlName="transactionId" type="text">
                    <mat-error
                        *ngIf="paymentForm.get('transactionId')?.invalid && paymentForm.get('transactionId')?.touched">
                        Transaction ID is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <hr/>
            <div class="d-flex">
                <button mat-raised-button color="primary" type="submit" [disabled]="paymentForm.invalid">Submit</button>
            </div>
        </form>
    </mat-card>
</ng-template>