<mat-tab-group>
    <mat-tab label="Buy Coin">
        <mat-card class="account-card">
            <mat-card-header>
                <mat-card-title class="txt-clrb7 mb-3">Admin Bank Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <table class="account-details-table">
                    <tbody>
                        <tr>
                            <td>Bank Name</td>
                            <td>{{ accountDetails?.bankName }}</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>{{ accountDetails?.accountNumber }}</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>{{ accountDetails?.ifscCode }}</td>
                        </tr>
                        <tr>
                            <td>Branch Name</td>
                            <td>{{ accountDetails?.branchName }}</td>
                        </tr>
                        <tr>
                            <td>Account Holder Name</td>
                            <td>{{ accountDetails?.accountHolderName }}</td>
                        </tr>
                        <tr>
                            <td>Account Type</td>
                            <td>{{ accountDetails?.accountType }}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <div class="d-flex justify-content-end my-3 mr-3">
                <button mat-raised-button color="primary" (click)="openShareDialog()">
                    Upload receipt
                </button>
            </div>
        </mat-card>

    </mat-tab>
</mat-tab-group>

<ng-template #shareDialog>
    <div class="dialog-container">
      <div class="dialog-header">
        <h2 mat-dialog-title class="txt-clrb7">Share Transaction Details</h2>
        <button mat-icon-button mat-dialog-close class="close-button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
  
      <div class="file-upload-section" *ngIf="!receiptUploaded">
        <div class="upload-container">
          <h2>Upload an Image</h2>
  
          <input type="file" class="file-input" (change)="onFileSelected($event)" />
          <button mat-raised-button color="primary" (click)="upload()">Upload</button>
  
          <div *ngIf="imageUrl" class="image-preview">
            <h3>Uploaded Image:</h3>
            <img [src]="imageUrl" alt="Uploaded Image" />
          </div>
        </div>
      </div>
  
      <div *ngIf="receiptUploaded" class="success-message">
        <h3>Payment Details uploaded Successfully! 😊</h3>
        <p>Your receipt has been uploaded for verification. Thank you!</p>
      </div>
    </div>
  </ng-template>
  