<mat-tab-group>
    <!-- <mat-tab label="Add Coin Internal">
        <div>
            <div class="mb-3">
                <mat-form-field class="full-width">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput placeholder="Enter Transaction ID" />
                </mat-form-field>
            </div>
            <div class="submit-button-container">
                <button mat-raised-button color="primary" class="full-width-button">Submit</button>
            </div>


        </div>
    </mat-tab> -->

    <mat-tab label="Buy Coin">
        <mat-card class="account-card">
            <mat-card-header>
                <mat-card-title class="txt-clrb7 mb-3">Admin Bank Details</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <table class="account-details-table">
                    <tbody>
                        <tr>
                            <td>Bank Name</td>
                            <td>{{ accountDetails.bankName }}</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>{{ accountDetails.accountNumber }}</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>{{ accountDetails.ifscCode }}</td>
                        </tr>
                        <tr>
                            <td>Branch Name</td>
                            <td>{{ accountDetails.branchName }}</td>
                        </tr>
                        <tr>
                            <td>Account Holder Name</td>
                            <td>{{ accountDetails.accountHolderName }}</td>
                        </tr>
                        <tr>
                            <td>Account Type</td>
                            <td>{{ accountDetails.accountType }}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <div class="d-flex justify-content-end my-3 mr-3">
                <button mat-raised-button color="primary" (click)="openShareDialog()">
                    Upload receipt
                </button>
            </div>
        </mat-card>

    </mat-tab>
</mat-tab-group>

<ng-template #shareDialog>
    <h2 mat-dialog-title class="txt-clrb7">Share Transaction Details</h2>
    <button mat-icon-button mat-dialog-close class="close-button">
        <mat-icon>close</mat-icon>
    </button>

    <div class="file-upload-section" *ngIf="!receiptUploaded">
        <h3>Upload Receipt</h3>
        <p class="mb-2">Please upload the receipt to verify the payment.</p>

        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">

        <button mat-raised-button color="primary" (click)="uploadReceipt()" [disabled]="!selectedFile">
            Upload Receipt
        </button>
    </div>
    <div *ngIf="receiptUploaded" class="file-upload-section">
        <h3>Payment Details uploded Successfully! 😊</h3>
        <p>Your receipt has been uploaded for verification. Thank you!</p>
    </div>
</ng-template>