.main_reg{
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../assets/images/mob-banner1.jpg);
    opacity: 0.6;
  }
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
  
  @media (min-width: 768px) {
    width: 100%;
    padding: 20px;
    height: 100vh;
  }

  @media (max-width: 767px) {
    padding: 100px 10px;
  }

  form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%; // For mobile screens

    @media (min-width: 992px) { // For tablets and desktops
      max-width: 800px;
      width: 100%;
      padding: 20px 40px; // More padding for larger screens
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr; // Single column for mobile
    gap: 20px;

    @media (min-width: 992px) { // Two columns for larger screens
      grid-template-columns: repeat(2, 1fr);
    }

    .form-item {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }

    .password-hint {
      grid-column: 1 / -1; // Spanning across all columns
      font-size: 12px;
      color: #777;
    }
  }
}

// Responsive padding for mobile screens
@media (max-width: 767px) {
  form {
    padding: 20px; // Less padding for smaller screens
  }
}

// Center loader spinner
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-spinner {
  width: 50px;
  height: 50px;
}

.txt-clr01{
  color: orange !important;
}

.cr_ptr{
  cursor: pointer;
}

.form-item {
  display: flex;
  flex-direction: row;
  gap: 16px; // Adds spacing between the fields
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .country-code, mat-form-field {
    flex: 1; // Make both fields take equal width
  }

  .country-code {
    max-width: 120px; // Set a reasonable max width for the country code dropdown
  }

  mat-form-field {
    flex: 2; // The mobile number field will take more space
  }

  @media (max-width: 600px) {
    flex-direction: column; // Stacks fields vertically on smaller screens
    .country-code, mat-form-field {
      max-width: none;
    }
  }
}

