<div class="main_reg">
  <div *ngIf="isLoading" class="loader-container">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading && !registrationSuccess" class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="d-md-flex justify-content-between mb-2">
        <h1 class="txt-clrb7">Create your account</h1>
        <h4 class="txt-clrb7 cr_ptr" routerLink="/login">
          Already have an account?</h4>
      </div>
      <div class="form-grid">
        <!-- Name Field -->
        <div class="form-item">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput id="name" formControlName="name" type="text" />
            <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Email Field -->
        <div class="form-item">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput id="email" formControlName="email" type="email" />
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Password Field -->
        <div class="form-item">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput id="password" formControlName="password" type="password" />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
              Password must be at least 8 characters
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Confirm Password Field -->
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput id="confirmPassword" formControlName="confirmPassword" type="password" />
          <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
            Passwords must match
          </mat-error>
        </mat-form-field>

        <!-- Mobile Number Field -->
        <div class="form-item">
          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput id="mobile" formControlName="mobile" type="tel" />
            <mat-error *ngIf="registerForm.get('mobile')?.hasError('pattern')">
              Please enter a valid mobile number
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Optional Referral Code Field -->
        <div class="form-item">
          <mat-form-field appearance="fill">
            <mat-label>Referral Code (Optional)</mat-label>
            <input matInput id="referralCode" formControlName="referralCode" type="text" />
          </mat-form-field>
        </div>

        <div class="password-hint form-item">
          Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one
          digit, and one special character.
        </div>

        <!-- Terms & Conditions Checkbox -->
        <div class="form-item">
          <mat-checkbox formControlName="agreeToTerms">
            I agree to the <a (click)="openShareDialog()" class="txt-clr01">Terms and Conditions</a>
          </mat-checkbox>
          <mat-error *ngIf="registerForm.get('agreeToTerms')?.hasError('required')">
            You must agree to the terms.
          </mat-error>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" class="w-100">
        Register
      </button>
    </form>
  </div>
</div>

<ng-template #shareDialog>
  <h2 mat-dialog-title>Terms and Conditions</h2>
  <mat-dialog-content>
    <mat-card-content>
      <ol>
        <li><b>1. </b> I affirm that I am a patriot, committed to contributing to the training of future parliamentary
          members through open competition for the upcoming election.</li>
        <li><b>2. </b> I proudly support Scientist Kapil Paudyal in developing and producing his inventions in the near
          future.</li>
        <li><b>3. </b> I agree to contribute 300 UAE dirhams in support of the organization’s efforts to bring new
          inventions to market.</li>
        <li><b>4. </b> I acknowledge that I am not expecting any business benefits from my contribution at this time.
        </li>
        <li><b>5. </b> If I successfully recruit others to join this mission, I take full responsibility to educate them
          about the Nation Development Program, research and development, and the potential benefits for them.</li>
        <li><b>6. </b> I understand that if I fail to follow the company's rules and regulations, my account may be
          terminated at any time without notice.</li>
        <li><b>7. </b> I have thoroughly understood the mission of this organization and join it wholeheartedly and
          willingly.</li>
        <li><b>8. </b> Should the company offer any benefits or rewards, I agree to accept them without complaint or
          dissatisfaction.</li>
      </ol>
    </mat-card-content>
  </mat-dialog-content>
  <mat-dialog-actions class="w-100 d-flex justify-content-end">
    <button mat-button color="primary" class="w-48" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>