<mat-card>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Created At Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.createdAt | date:'short'}} </mat-cell>
    </ng-container>

    <!-- User Name Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.userName}} </mat-cell>
    </ng-container>

    <!-- Payment Method Column -->
    <ng-container matColumnDef="paymentType">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.paymentType}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.status}} </mat-cell>
    </ng-container>

    <!-- Receipt Column -->
    <ng-container matColumnDef="receipt">
      <mat-header-cell *matHeaderCellDef> Receipt </mat-header-cell>
      <mat-cell *matCellDef="let payment">
        <a [href]="imageUrl + payment.filepath" target="_blank">View Receipt</a>
      </mat-cell>
    </ng-container>



    <!-- Action -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let payment">
        <button mat-mini-fab color="primary" aria-label="Confirm action" (click)="openConfirmationDialog(payment)">
          <mat-icon>check</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Table Header -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- Table Rows -->
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</mat-card>

<!-- Confirmation Dialog -->
<ng-template #shareDialog>
  <h2 mat-dialog-title>Confirmation</h2>
  <mat-dialog-content>Are you sure you want to perform this action?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialog.closeAll()">Cancel</button>
    <button mat-button color="primary" (click)="sendCoin()">Confirm</button>
  </mat-dialog-actions>
</ng-template>