<mat-sidenav-container class="main-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="side-nav" [mode]="(sidenav.opened ? 'side' : 'over')"
    [fixedInViewport]="!sidenav.opened" [attr.mini]="sidenav.opened ? null : true">
    <mat-toolbar color="primary" class="logo">
      <span *ngIf="sidenav.opened">Gorakha Coin</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item [routerLink]="'/'" (click)="closeSidenav(sidenav)" *ngIf="cookieService.isAdmin()">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="sidenav.opened">Dashboard</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'/money-transfer'" (click)="closeSidenav(sidenav)" *ngIf="!cookieService.isAdmin()">
        <mat-icon>markunread_mailbox</mat-icon>
        <span *ngIf="sidenav.opened">Send Coin</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'/add-money'" (click)="closeSidenav(sidenav)" *ngIf="!cookieService.isAdmin()">
        <mat-icon>attach_money</mat-icon>
        <span *ngIf="sidenav.opened">Add Coin</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'/friend-request'" (click)="closeSidenav(sidenav)" *ngIf="!cookieService.isAdmin()">
        <mat-icon>add</mat-icon>
        <span *ngIf="sidenav.opened">Friend Request</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'users'" (click)="closeSidenav(sidenav)" *ngIf="cookieService.isAdmin()">
        <mat-icon>person</mat-icon>
        <span *ngIf="sidenav.opened">Users</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'/friends-details'" (click)="closeSidenav(sidenav)" *ngIf="!cookieService.isAdmin()">
        <mat-icon>groups</mat-icon>
        <span *ngIf="sidenav.opened">My Friends</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'send-money'" (click)="closeSidenav(sidenav)" *ngIf="cookieService.isAdmin()">
        <mat-icon>account_box</mat-icon>
        <span *ngIf="sidenav.opened">Send Money</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'buy-coin'" (click)="closeSidenav(sidenav)" *ngIf="cookieService.isAdmin()">
        <mat-icon>account_box</mat-icon>
        <span *ngIf="sidenav.opened">Buy Coin</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'transactions'" (click)="closeSidenav(sidenav)">
        <mat-icon>history</mat-icon>
        <span *ngIf="sidenav.opened">Transactions</span>
      </mat-list-item>

      <div class="bottom-side w-100">
        <mat-list-item [routerLink]="'setting'" (click)="closeSidenav(sidenav)">
          <mat-icon>account_circle</mat-icon>
          <span *ngIf="sidenav.opened">My Profile</span>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar class="top-header" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="coin-details" *ngIf="!cookieService.isAdmin()">
        {{coinResult?.coin}} Coin = {{coinResult?.coinRate}} {{coinResult?.coinType | uppercase}}
        <div *ngIf="!cookieService.isAdmin()" class="d-md-none">Available Coin = {{pymentResult?.totalAmount || 0}}</div>
      </div>
      <span class="spacer"></span>
      <button mat-button class="coin-details d-none d-md-block mr-md-3" *ngIf="!cookieService.isAdmin()">Available Coin =
        {{pymentResult?.totalAmount || 0}}</button>
        <span class="d-none d-md-block">{{cookieService.decodeToken().userName}}</span>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Manage Account</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Carousel Banner with Overlay -->
    <div class="banner-carousel-container mb-4">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img class="d-none d-md-block" src="../../assets/images/banner2.jpg" alt="Banner 1">
          <img class="d-md-none" src="../../assets/images/mob-banner1.jpg" alt="Banner 1">
          <div class="overlay">
            <h2 class="d-md-none">Earn Money<br> Build Excellence for the Nation!</h2>
            <p class="d-md-none">Prioritize national border security and protection.</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img class="d-none d-md-block" src="../../assets/images/banner3.jpg" alt="Banner 2">
          <img class="d-md-none" src="../../assets/images/mob-banner2.jpg" alt="Banner 2">
          <div class="overlay">
            <h2 class="d-md-none">Building an Excellent System for a Stronger Nation!</h2>
            <p class="d-md-none"> Reduce dependence on imports by encouraging domestic.</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img class="d-none d-md-block" src="../../assets/images/banner4.jpg" alt="Banner 3">
          <img class="d-md-none" src="../../assets/images/mob-banner3.jpg" alt="Banner 3">
          <div class="overlay">
            <h2 class="d-md-none">Earn Money, Elevate the Nation!</h2>
            <p class="d-md-none">Leading the Change, Ending Corruption!</p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

    <!-- Rest of the page content -->
    <div class="page-container">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>