<mat-sidenav-container class="main-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="side-nav" [mode]="(sidenav.opened ? 'side' : 'over')" [fixedInViewport]="!sidenav.opened" [attr.mini]="sidenav.opened ? null : true">
    <mat-toolbar color="primary" class="logo">
      <span *ngIf="sidenav.opened">Kapil Coin</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="sidenav.opened" [routerLink]="'/'">Dashboard</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>person</mat-icon>
        <span *ngIf="sidenav.opened" [routerLink]="'users'">Users</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>person</mat-icon>
        <span *ngIf="sidenav.opened" [routerLink]="'user-network'">User network</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>manage-account</mat-icon>
        <span *ngIf="sidenav.opened" [routerLink]="'manage-account'">Manage account</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>settings</mat-icon>
        <span *ngIf="sidenav.opened">Settings</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Top Header -->
    <mat-toolbar color="primary" class="top-header">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
      
      <!-- User Profile on the right -->
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Manage Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Page content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
