.main-container {
  height: 100vh;

  .side-nav {
    width: 250px;
    &.mat-drawer-mini {
      width: 80px;
    }
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .spacer {
      flex: 1 1 auto;
    }
  }

  .menu-button {
    margin-right: 16px;
  }

  .page-content {
    padding: 16px;
  }
}

::ng-deep .mat-mdc-list-item-unscoped-content{
  display: flex !important;
}
