<mat-tab-group>
    <mat-tab label="Internal Transactions History">
      <mat-card class="button-card">
        <mat-card-header>
          <mat-card-title>Transfer Options</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-container">
            <button mat-raised-button color="primary" class="half-width-button">Internal Transactions History</button>
            <button mat-raised-button color="accent" class="half-width-button">Bank Transactions History</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    
    <mat-tab label="Bank Transactions History">
      <mat-card class="button-card">
        <mat-card-header>
          <mat-card-title>Additional Transfer Options</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-container">
            <button mat-raised-button color="warn" class="half-width-button">Other Transfer</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  