<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Transactions History</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a mat-button class="nav-link" [class.active]="selectedTab === 'internal'" (click)="selectTab('internal')">
                  <i class="material-icons">account_balance</i> Internal Transactions
                </a>
              </li>
              <li class="nav-item">
                <a mat-button class="nav-link" [class.active]="selectedTab === 'bank'" (click)="selectTab('bank')">
                  <i class="material-icons">account_balance_wallet</i> Bank Transactions
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <mat-card *ngIf="selectedTab === 'internal'">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="userName">
              <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.userName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="paymentType">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.paymentType}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="transactionId">
              <mat-header-cell *matHeaderCellDef> TransactionID </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.transactionId || 'NA'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="transactionAmount">
              <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.transactionAmount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="receipt">
              <mat-header-cell *matHeaderCellDef> Receipt </mat-header-cell>
              <mat-cell *matCellDef="let payment">
                <a [href]="payment.receipt" target="_blank">View Receipt</a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.createdAt | date:'short'}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
        </mat-card>

        <mat-card *ngIf="selectedTab === 'bank'">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="userName">
              <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.userName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="paymentType">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.paymentType}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="transactionId">
              <mat-header-cell *matHeaderCellDef> TransactionID </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.transactionId || 'NA'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="transactionAmount">
              <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.transactionAmount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="receipt">
              <mat-header-cell *matHeaderCellDef> Receipt </mat-header-cell>
              <mat-cell *matCellDef="let payment">
                <a [href]="payment.receipt" target="_blank">View Receipt</a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
              <mat-cell *matCellDef="let payment"> {{payment.createdAt | date:'short'}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
</div>
