<mat-card>
  <mat-card-header class="pb-md-3">
    <mat-card-title class="txt-clrb7">Send Money</mat-card-title>
    <mat-card-subtitle>The user has shown interest in converting their coins into money.
      Please verify and add the amount to their account!</mat-card-subtitle>

    <mat-card-title *ngIf="!dataSource || dataSource.data.length === 0" class="no-request-card card p-3 my-3">
      No request found!
    </mat-card-title>

  </mat-card-header>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 d-none d-md-block" *ngIf="!dataSource || dataSource.data.length > 0">

    <!-- User Name Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.userName}} </mat-cell>
    </ng-container>

    <!-- Payment Method Column -->
    <ng-container matColumnDef="paymentType">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.paymentType}} </mat-cell>
    </ng-container>

    <!-- Transaction ID Column -->
    <ng-container matColumnDef="transactionId">
      <mat-header-cell *matHeaderCellDef> TransactionID </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.transactionId || 'NA'}} </mat-cell>
    </ng-container>

    <!-- Transaction Amount Column -->
    <ng-container matColumnDef="transactionAmount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.transactionAmount}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.status}} </mat-cell>
    </ng-container>

    <!-- Receipt Column -->
    <ng-container matColumnDef="receipt">
      <mat-header-cell *matHeaderCellDef> Receipt </mat-header-cell>
      <mat-cell *matCellDef="let payment">
        <a [href]="payment.receipt" target="_blank">View Receipt</a>
      </mat-cell>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
      <mat-cell *matCellDef="let payment"> {{payment.createdAt | date:'short'}} </mat-cell>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let payment">
        <button mat-mini-fab color="primary" aria-label="Confirm action" (click)="openConfirmationDialog(payment)">
          <mat-icon>check</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Table Header -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- Table Rows -->
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <div *ngFor="let user of dataSource.filteredData" class="user-card d-md-none mt-3" >
    <mat-card class="mat-elevation-z4" *ngIf="!dataSource || dataSource.data.length > 0">
      <mat-card-header>
        <div class="d-flex justify-content-between w-100 mobile-header">
          <div class="d-flex align-items-center">
            <mat-card-title class="ml-2 text-capitalize">{{ user.userName }}</mat-card-title>
          </div>
          <div>
              <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                <mat-icon class="vert">more_vert</mat-icon>
              </button>
              <mat-menu #profileMenu="matMenu">
                <button mat-menu-item (click)="openConfirmationDialog(user)">
                  <mat-icon>send</mat-icon>
                  <span>Send coin</span>
                </button>
              </mat-menu>
            </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Date:</strong> {{ user.createdAt | date:'short'}} </p>
        <p class="text-capitalize"><strong>PaymentType:</strong> {{ user.paymentType }}</p>
        <p><strong>Requested coin:</strong> {{ user.transactionAmount }}</p>
        <p class="text-capitalize"><strong>Status:</strong> {{ user.status }} </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator *ngIf="!dataSource || dataSource.data.length > 0" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</mat-card>

<!-- Confirmation Dialog -->
<ng-template #shareDialog>
  <h2 mat-dialog-title>Confirmation</h2>
  <mat-dialog-content>Are you sure you want to perform this action?</mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button (click)="dialog.closeAll()" class="mr-2">Cancel</button>
    <button mat-button color="primary" (click)="sendCoin()">Confirm</button>
  </mat-dialog-actions>
</ng-template>