<mat-tab-group>
  <mat-tab label="Internal Transfer">
    <mat-card class="transfer-card">
      <mat-card-header class="p-0 pb-3">
        <mat-card-title class="txt-clrb7">Share coin with your friends.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="internalTransferForm">
          <div class="form-grid">
            <!-- Total Amount Display -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Total Available Coin</mat-label>
              <input matInput [value]="userPaymentDetails?.totalAmount" readonly>
            </mat-form-field>

            <!-- Receiver User (Dropdown) -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Receiver Name</mat-label>
              <mat-select formControlName="receiverName">
                <mat-option *ngFor="let user of userDetails" [value]="user.userId">
                  {{ user.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="internalTransferForm.get('receiverName')?.invalid && internalTransferForm.get('receiverName')?.touched">
                Receiver User is required.
              </mat-error>
            </mat-form-field>

            <!-- Coin (Amount) -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter Coin</mat-label>
              <input matInput formControlName="transactionAmount" type="number" placeholder="Enter transfer amount">
              <mat-error *ngIf="internalTransferForm.get('transactionAmount')?.invalid && internalTransferForm.get('transactionAmount')?.touched">
                Coin amount is required and must be greater than 0.
              </mat-error>
              <mat-error *ngIf="transactionAmountExceeds()">
                Transaction amount must not exceed total amount available.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Submit Button -->
          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="w-100" (click)="openShareDialog()"
              [disabled]="internalTransferForm.invalid || transactionAmountExceeds()">Confirm</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Bank Withdrawal">
    <mat-card class="button-card p-3">
      <mat-card-header class="p-0 pb-3">
        <mat-card-title class="txt-clrb7">Convert coin to Money in your Bank Account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="bankTransferForm">
            <!-- Coin (Total Amount) -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Total Amount</mat-label>
              <input matInput formControlName="totalAmount" type="number" placeholder="Total amount" readonly="true">
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Select Bank</mat-label>
              <mat-select formControlName="receiverName">
                <mat-option *ngFor="let acc of accountDetails" [value]="acc.bankName + 'accId' + acc.accId">
                  {{ acc.bankName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="internalTransferForm.get('receiverName')?.invalid && internalTransferForm.get('receiverName')?.touched">
                Receiver Bank is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter Withdrawal Amount</mat-label>
              <input matInput formControlName="transactionAmount" type="number" placeholder="Enter Withdrawal amount">
              <mat-error *ngIf="bankTransferForm.get('transactionAmount')?.invalid && bankTransferForm.get('transactionAmount')?.touched">
                Withdrawal amount is required and must be greater than 500.
              </mat-error>
              <mat-error *ngIf="bankTransferForm.hasError('amountExceeds') && bankTransferForm.get('transactionAmount')?.touched">
                Withdrawal amount must not exceed total amount.
              </mat-error>
            </mat-form-field>

          <!-- Submit Button -->
          <div class="d-flex justify-content-center pb-4">
            <button mat-raised-button color="primary" class="w-100" (click)="onSubmitWithdrawal()"
              [disabled]="bankTransferForm.invalid">Withdrawal</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<ng-template #shareDialog>
  <h2 mat-dialog-title>Please verify the user details!</h2>
  <mat-dialog-content>
    <mat-card-content>
      <table class="account-details-table">
        <tbody>
          <tr>
            <td>Name</td>
            <td class="text-capitalize">{{ selectedUser.name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ selectedUser.email }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ selectedUser.mobile }}</td>
          </tr>
          <tr>
            <td>Verified</td>
            <td>{{ selectedUser.emailVerified ? 'Yes' : 'No' }}</td>
          </tr>
          <tr>
            <td>Referral Code</td>
            <td>{{ selectedUser.referralCode }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td class="text-capitalize">{{ selectedUser.status }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-dialog-content>
  <mat-dialog-actions class="w-100">
    <button mat-button color="warn" class="w-48" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" class="w-48" (click)="onInternalSubmit()">Send</button>
  </mat-dialog-actions>
</ng-template>
