.form-grid {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 24px;

  mat-form-field {
    width: 100%;
  }

  textarea {
    resize: vertical;
  }
}

.w-48{
  width: 48%;
}
.mat-mdc-card-content{
  padding: 0 !important;
}

.transfer-card {
  padding: 16px;
}

.mat-mdc-form-field{
  min-width: 100% !important;
}
